<div class="container">
    <br>

    <div class="card">
        <h2 class="card-header"><%= @user.email %></h2>
        <br>
        <div class="container">
        <p>Hello User!</p>
        <%= button_to "Create a band", new_band_path, method: :get %>
        <br>
        <%= button_to "View Bands", bands_path, method: :get %>
        </div>
        <br>
    </div>

</div>